#### Question 1:Given a list of numbers, remove floats (numbers with decimals)
original_list = [2,3.75,.04,59.354,6,7.7777,8.9]

In [1]:
orig_list = [2,3.75,.04,59.354,6,7.7777,8.9]
int_only = [number for number in orig_list if type(number)== int]
print(int_only)

[2, 6]

#### Question 2: Find all of the numbers from 1-1000 that are divisible by 7

In [2]:
div_7 = []
div_7 = [number for number in range(1,1001) if number%7==0]
print(div_7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

#### Question 3: Find all of the numbers from 1-1000 that have a 3 in them

In [6]:
cont_3 = []
cont_3 = [number for number in range(1,1001) if '3' in str(number)]
print(cont_3)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

#### Questions 4: Count the number of spaces in a string
#### Input: some_string = 'the slow solid squid swam sumptuously through the slimy swamp'

In [9]:
some_string = 'the slow solid squid swam sumptuously through the slimy swamp'
spacess = [n for n in some_string if n ==' ']
print(len(spacess))

9

#### Question 5: Create a list of all the consonants in the string "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yam"

In [12]:
givenstring= "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yam"
consonants = [n for n in givenstring if n not in "A,a,E,e,I,i,O,o,U,u, "]
print(consonants)

['Y', 'l', 'l', 'w', 'Y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'y', 'd', 'l', 'd', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm']

# Important 
#### Questions 6: Get the index and the value as a tuple for items in the list ["hi", 4, 8.99, 'apple', ('t,b','n')].  Result would look like [(index, value), (index, value)]

In [16]:
random_list = ["hi", 4, 8.99, 'apple', ('t,b','n')]
result=[]
result = [(result,index) for result, index in enumerate(random_list)]
print(result)

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

#### Question 7: Find the common numbers in two lists (without using a tuple or set) list_a = [1, 2, 3, 4], list_b = [2, 3, 4, 5]

In [24]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
commonnum = [n for n in list_a if n in list_b]
print(commonnum)

[2, 3, 4]

#### Question 8:Get only the numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending'. Result is a list of numbers like [3,4,5]

In [25]:
some_string ="In 1984 there were 13 instances of a protest with over 1000 people attending"
numbers= [n for n in some_string if n in "1,2,3,4,5,6,7,8,9,0"]
print(numbers)

['1', '9', '8', '4', '1', '3', '1', '0', '0', '0']